<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>47980785798-vjko5ds3m6nncenh0ilacro0fil3vuqr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.47980785798-vjko5ds3m6nncenh0ilacro0fil3vuqr</string>
	<key>API_KEY</key>
	<string>AIzaSyC4f0B8JSwZDxVrcv4uogynzgN-gftlHJ8</string>
	<key>GCM_SENDER_ID</key>
	<string>47980785798</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com-hank.IgTest</string>
	<key>PROJECT_ID</key>
	<string>instagramdemo-e27ce</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramdemo-e27ce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:47980785798:ios:b5ac9f2ee86bdd9e256107</string>
</dict>
</plist>